---
import Layout from "@/layouts/Layout.astro";
import teamImg from "@/assets/pages/about-us/team.png";
import leonardoImg from "@/assets/pages/about-us/leonardo.png";
import { Image } from "astro:assets";
import AboutUsCard from "@/components/pages/about-us/AboutUsCard.astro";

const cards = [
  {
    imgSrc: teamImg,
    imgAlt: "Equipo de trabajo",
    title: "Nuestro Equipo",
    description:
      "Lideramos con experiencia en software y datos, manteniéndonos en la vanguardia de la innovación en Inteligencia Artificial.",
  },
  {
    imgSrc: leonardoImg,
    imgAlt: "Leonardo González",
    title: "Leonardo González",
    description:
      "Leonardo González tiene más de dos décadas de experiencia con liderazgo en la industria de tecnología informática. Sus especialidades son la ingeniería y arquitectura de software, la gestión de ingeniería, y la ciencia de datos. Disfruta de trabajar con gestión del conocimiento y modelado predictivo. Leonardo ha fundado una agencia de consultoría en la que ha liderado equipos que ejecutan proyectos multimillonarios. Ha tenido varios cargos de CTO consultor con emprendimientos, y ha ocupado roles de liderazgo en compañías Fortune 500 como arquitecto y/o líder técnico a cargo de reclutamiento, formación, y gestión de ingenieros.",
  },
];
---

<Layout
  title="Nosotros"
  description="Conoce más sobre nosotros"
  mainClassName="flex justify-center items-center"
  bodyClassName="dark-overlay"
>
  <div class="max-w-6xl flex flex-col gap-6">
    {
      cards.map((card) => (
        <AboutUsCard imgSrc={card.imgSrc} imgAlt={card.imgAlt} title={card.title}>
          {card.description}
        </AboutUsCard>
      ))
    }
  </div>
</Layout>
