---
import { SlidingTitle } from "@/components/pages/index/sliding-title";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={"Inicio"} description={"Esta es la página de inicio"} mainClassName="flex mt-0">
  <div
    class="flex flex-col h-full w-full my-auto text-center sm:text-start sm:self-start sm:ml-10 md:ml-14 lg:ml-20 xl:ml-32"
  >
    <h2 class="text-lg text-center sm:text-start lg:text-xl">Tenemos experiencia en</h2>
    <SlidingTitle client:load />
  </div>
</Layout>
