---
import Layout from "@/layouts/Layout.astro";

import img1 from "@/assets/pages/services/img1.png";
import img2 from "@/assets/pages/services/img2.png";
import img3 from "@/assets/pages/services/img3.png";
import img4 from "@/assets/pages/services/img4.png";
import { Image } from "astro:assets";

const cards = [
  {
    imgSrc: img1,
    id: "Arquitectura de Software",
  },
  {
    imgSrc: img2,
    id: "Desarrollo de Aplicaciones",
  },
  {
    imgSrc: img3,
    id: "Inteligencia Artificial y Ciencia de Datos",
  },
  {
    imgSrc: img4,
    id: "Diseño y Presencia Digital",
  },
] as const satisfies ReadonlyArray<{
  imgSrc: ImageMetadata;
  id: string;
}>;
---

<Layout
  title="Servicios"
  description="Esta es la página de servicios"
  mainClassName="flex mt-0 items-center justify-center"
  bodyClassName="dark-overlay"
>
  <div class="flex items-center gap-4">
    {
      cards.map((card) => (
        <button type="button" class="flex flex-col items-center gap-2">
          <Image src={card.imgSrc} alt={card.id} />
          <span class="sr-only">{card.id}</span>
        </button>
      ))
    }
  </div>
</Layout>
